<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to my SITE</h1>
        <hr>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <hr>
        {% endif %}
        <h2>Register</h2>
        <form action='{% url "user:create" %}' method='post'> {% csrf_token %}
            <div class='form-group'>
                <label for="first_name">First Name</label>
                <input type="text" name="first_name">
            </div>
            <div class='form-group'>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name">
            </div>
            <div class='form-group'>
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>
            <div class='form-group'>
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <div class='form-group'>
                <label for="password_confirm">Confirm Password</label>
                <input type="password_confirm" name="password_confirm">
            </div>
            <input type="submit" value="Register">
           
        </form>
    </body>
</html>