<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Actor Details</h1>
        <h3>First Name: {{actor.first_name}}</h3>
        <h3>Last Name: {{actor.last_name}}</h3>
        <!--<h3>Filmography</h3>
        <ul>
            {% for movie in films %}
                <li>{{movie.film.title}} as {{movie.role}}</li>
            {% endfor %}
        </ul>-->
    </body>
</html>