<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Add Actor</h2>
        <form action='{% url "movies:create_actor" %}' method="POST">{% csrf_token %}
            <div class='form-group'>
                <label for="first_name">First Name</label>
                <input type="text" name="first_name">
            </div>
            <div class='form-group'>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name">
            </div>
            <input type="submit" value='Add'>
        </form>

        <h2>Add Movie</h2>
        <form action='{% url "movies:create_movie" %}' method="POST">{% csrf_token %}
            <div class='form-group'>
                <label for="title">Title</label>
                <input type="text" name="title">
            </div>
            <input type="submit" value='Add'>
        </form>
         <hr>
            <h3>Actors</h3>
            <ul>
                {% for actor in actors %}
                <li><a href="{% url 'movies:actor' actor.id %}">{{actor.first_name}} {{actor.last_name}}</a></li>
                {% endfor %}
            </ul>
             <h3>Movies</h3>
            <ul>
                {% for movie in movies %}
                <li><a href="{% url 'movies:movie' movie.id %}">{{movie.title}}</a></li>
                {% endfor %}
            </ul>
    </body>
</html>