<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Movie Details</h1>
        <h2>Title: {{movie.title}}</h2>
        <hr>
        <!--<form action='{% url "movies:append_cast" movie.id %}' method="POST">{% csrf_token %}
            <select name='actor_in_cast'>
                {% for actor in actors %}
                <option value="{{actor.id}}">{{ actor.first_name }} {{ actor.last_name }}</option>
                {% endfor %}
            </select>
            Role: <input type="text" name="role">
            <input type="submit" value="Add To Cast">
        </form>-->
    </body>
</html>